<%= link_to 'View Photos', albums_path(:view_id => @twit.id) %>

<p>
	<% if @photo %>
		<%= image_tag @photo.picture.url %><br/>
	<% end %>
	<% if @twit.id == session[:twit_id] %>
		<%= link_to 'Change Profile Picture', photos_path(:view_id => @twit.id) %>
	<% end %>
</p>

<p>
  <%= @twit.first_name %> <%= @twit.last_name %>
</p>

<% if @twit.id == session[:twit_id] %>
	<%= link_to 'Edit', edit_twit_path(@twit) %> |
<% end %>
<%= link_to 'Back', twits_path %>
