<%= link_to 'View Photos', albums_path(:view_id => @twit.id) %>

<p>
  <b>Username:</b>
  <%= @twit.username %>
</p>

<p>
  <b>First name:</b>
  <%= @twit.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @twit.last_name %>
</p>

<% if @twit.id == session[:twit_id] %>
	<%= link_to 'Edit', edit_twit_path(@twit) %> |
<% end %>
<%= link_to 'Back', twits_path %>
