
<h1><%= @album.title %></h1>

<table>

<% @album.photos.each do |photo| %>
  <tr>		
	<td id="table_image"><%= image_tag photo.picture.url %></td>	
	<td><%= link_to photo.title, photo %></td>
	<% if @album.twit_id == session[:twit_id] %>
		<td><%= link_to 'Delete', photo, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<% if @album.twit_id == session[:twit_id] %>
	<%= link_to 'New Photo', new_photo_path(:view_id => @album.twit_id) %>
<% end %>
<%= link_to 'Back to Albums', albums_path(:view_id => @album.twit_id) %>
